
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins',sans-serif;
}
.container h2{
    text-align: center;
    color:#fff;
}
.container{
    background-color:transparent;
    padding:40px;
    border:2px solid rgba(255,255,255,.5);
    border-radius:20px;
    min-width: 45vh;
    width: 40vh;
    line-height: 40px;
    backdrop-filter: blur(15px);
    
}
form{
    padding: 10px;
}

 form p{
    text-align: start;
    padding:10px 0;
    color:#fff;
}
form input{
    background:transparent;
    border:1px solid lightgray;
    border-radius:5px;
    font-size:1em;
    height:50px;
    width: 300px;
    padding:0 5px;
    color:#fff;

    
}
.btn{
    padding: 10px;
}
.btn button{
    
    align-items: flex-start;
    height:3rem;
    width: 310px;
    padding:10px;
    border: none;
    outline: none;
    border-radius:5px;
    background-color:#fff;
    color:#000;
    padding:15px;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    
    
}
.btn h2{
    text-align: center;
    font-size: 15px;
    color:#fff;
    font-weight: 100;
    padding:5 0px;

}
.icon{
    padding:10px;
}

.icon button{
    background: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 150px;
    height: 3rem;
    text-align: center;
    font-size: 15px;
    color:#fff;
    cursor: pointer;
    

}

h3{
    text-align: center;
    font-size: 15px;
    color:#fff;
    font-weight: 100; 
}
span{
    color:blue;
    cursor: pointer;
}
span i{
    color: darkblue;
    font-size: 20px;
    color:#fff
    
}